*{
    margin: auto;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width: 80%;
    height: 100px;
    border: 1px solid blue;
}

header h1{
    text-align: center;
}

p{
    width: 80%;
    height: 50px;
    border: 1px solid blue;
}

aside{
    float: left;
    margin-left: 10vw;
    width: 10vw;
    height: 70vh;
    border:1px solid blue
}

aside li{
    margin: 10px auto;
    list-style-type:none;
    font-size: 1.5rem;
}

aside li:first-child{
    margin-top: 10vh;
}

section{
    margin-left: 20vw;
    width: 70vw;
    height: 70vh;
    border: 1px solid blue;
}


footer{
    width: 80%;
    height: 13vh;
    border: 1px solid blue;
}
